# Owners for this repo
*       @AndresPad @codebytes @neerajjhaveri @MarcoABCardoso

/ai-services/*                              @jehayesms @MarcoABCardoso
/machine-learning/ml-ops-in-a-box/*         @Welasco

/gen-ai/Assistants/*                        @msalemor               
/gen-ai/semantic-kernel-bot-in-a-box/*      @MarcoABCardoso

/guidance/*                                 @codebytes @KBaroni