# Owners for this repo
*       @AndresPad @codebytes @neerajjhaveri @MarcoABCardoso

/ai-services/*                              @jehayesms @AndresPad @MarcoABCardoso
/enterprise-ml/mlops/*                      @Welasco @AndresPad

/generative-ai/aoai-assistants/*            @msalemor @AndresPad              
/generative-ai/semantic-kernel/*            @MarcoABCardoso

/guidance/*                                 @codebytes @KBaroni @AndresPad