# Owners for this repo
*       @AndresPad @codebytes @msdpalam @neerajjhaveri  @MarcoABCardoso

# Owners for cognitive service folder
# /cognitive-services-landing-zone-in-a-box/*     

# Owners for ml ops folder
/ml-ops-in-a-box/*       @Welasco

# Owners for semantic kernel folder
/semantic-kernel-bot-in-a-box/*       @MarcoABCardoso
