# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.12.0
azure-storage-blob==12.14.1
azure-identity==1.16.1
requests
#azure-ai-formrecognizer
azure-ai-formrecognizer==3.2.0b3
PyPDF2==2.5.0
